# This file tells Replit how to run your project.

# The command to run when you press the "Run" button.
run = "uvicorn main:app --host 0.0.0.0 --port 8080"

# This section tells Replit to install FFmpeg for us.
[nix]
channel = "stable-23_11"

[nix.pkgs]
ffmpeg-full = ""

# This tells the editor to use the correct language server.
[languages.python]
pattern = "**/*.py"
